# 1. Install PyAudio on the global system
# sudo apt update && sudo apt install portaudio19-dev python3-pyaudio && pip install pyaudio (PyAudio>=0.2.14)

# 2 Create venv with access to global packages (so that PyAudio can be used in the venv)
# python3 -m venv --system-site-packages jarvis-venv python=3.13

# 3. Install openwakeword while explicitly ignoring its dependencies
# pip install openwakeword==0.6.0 --no-deps

# 4. Manually install the rest of openwakeword's dependencies (skipping tflite)
# pip install scikit-learn onnxruntime requests scipy tqdm

# 5. Install the rest of the dependencies for this project
# pip install -r requirements.txt

numpy>=2.1.2
openai>=1.60.2
python-dotenv>=1.2.2
webrtcvad-wheels>=2.0.14